{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Book list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>From Language</th>
                <th>To Language</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', {'id': book.id }) }}">{{ book.title }}</a></td>
                <td>{{ book.firstLanguage }}</td>
                <td>{{ book.secondLanguage }}</td>
                <td><a href="{{ path('book_edit', {'id': book.id }) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('book_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
