{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ book.title }}</h1>

    {{ book.firstLanguage }} - {{ book.secondLanguage }}

    <h2>{{ 'chapters'|trans }}</h2>

    <ul>
    {% for chapter in book.chapters %}
        <li><a href="{{ path('book_chapter', {'book_id': book.id, 'chapter_id': chapter.id}) }}">{{ chapter.title }}</a></li>
    {% endfor %}
    </ul>

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('book_edit', { 'id': book.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
