{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ book.title }}</h1>

    {{ book.firstLanguage }} - {{ book.secondLanguage }}

    <h2>{{ 'chapters'|trans }}</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th># Phrases</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for chapter in book.chapters %}
            <tr>
                <th></th>
                <td><a href="{{ path('chapter_show', {'id': chapter.id}) }}">{{ chapter.title }}</a></td>
                <td>{{ chapter.phrases.count }}</td>
                <td><a href="{{ path('chapter_edit', {'id': chapter.id}) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('book_edit', { 'id': book.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
